.nav {
  grid-area: n;
  background-color: #5DB8EF;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
}

.item {
  display: block;
  width: 150px;
  height: 33px;
  border: 1px solid white;
  border-radius: 5px;
  margin-bottom: 8px;
  text-align: center;
  padding: 5px;
  text-decoration: none;
  color: #5DB8EF;
  background-color: white;
  transition: background-color 1s, width 1s, height 1s ,box-shadow 1s, transform 2s;
}

.item a {
  color: white;
  text-decoration: none;
}

a.active {
  background-color: #5DB8EF;
  display: block;
  width: 150px;
  height: 33px;
  border: 1px solid white;
  border-radius: 5px;
  margin-bottom: 8px;
  text-align: center;
  padding: 5px;
  text-decoration: none;
  color: white;
  font-style: italic;
  box-shadow : 0 0 7px 3px whitesmoke ;
  transition: background-color 1s, width 1s, height 1s ,transform 2s, box-shadow 1s;
}
