* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  text-align: center;
  padding: 10px 27px;
}

.content {
  display: flex;
  justify-content: space-between;
  background-image: url('./onepiece.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40%;
}

.content img {
  width: 200px;
  height: 200px;
}

.descriptionBlock {
  padding: 10px;
}