* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: white;
    margin: 0;
}

.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;
    color: white;
}

.dialog {
    color: white;
    width: 300px;
    /* display: flex; */
    /* justify-content: space-around; */
    margin-bottom: 10px;
}

.activeD {
    color: white;
    width: 300px;
    background-color: red;
    margin-bottom: 10px;
}

a.active, a.passive {
    display: flex;
    justify-content: space-between;
    color: #5DB8EF;
    background-color: white;
    border-radius: 5px;
    padding: 4px;
}

a.active {
    background-color: #5DB8EF;
    color: white;
    border: 1px solid white;
    font-style: italic;
    width: 310px;
    transition: background-color 1s, width 20s, transform 2s;
}


a.passive {
    color: #5DB8EF;
}

.container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    color: #5DB8EF;
    background-color: white;
    border-radius: 5px;
    padding: 4px;
}

.active .containe {
    background-color: red;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

.photo {
    width: 50px;
    border-radius: 50px;
    height: 50px;
}

.username {
    width: 200px;
}

.username p {
    padding: 0;
    margin: 0;
    line-height: 50px;
    text-align: start;
}

.messages {
    padding: 10px;
    color: white;
}







